</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/javascripts/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>particlesJS.load('particles-js', '../stylesheets/particles.json', function() {
    console.log('callback - particles.js config loaded');
})</script>
<footer><p>Chastain Marchildon - 2019</p></footer>
</html>