<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css"> 
  </head>
  <div id="particles-js"></div>
  <body>
        <nav>
                <div class="nav-wrapper">
                        <a href="/" class="brand-logo right">Chastain Marchildon</a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                          <li><a href="/projects">Projects</a></li>
                          <li><a href="/about">About Me</a></li>
                          <li><a href="/contact">Contact Me</a></li>
                         
                </div>
            </nav>
   