<%include partials/header.ejs%>
<h2>A little bit about me</h2>
<img src="/images/profilepic.jpg" alt="A picture of me." id="aboutpic" height="200" width="200" style ="margin-right:15px;">
<p>
    I'm a junior developer with an education from Georgian College's computer programming.
     I have professional experience with WordPress and analytical tools for SEO and consumer data, as well as some light web development
    . I love working as part of a team and have been recognized in past positions for my great ability to communicate 
    and collaborate. Outside of coding, I enjoy cars, guitar and an avid fan of the outdoors (if it's not snowing).
</p>

<%include partials/footer.ejs%>