<%include partials/header.ejs%>
  <div class="container">
    <h1 class="brand"><span>Chastain</span> Marchildon</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
          <h3>My Info</h3>
        <ul>
          <li><i class="fa fa-road"></i> Barrie, ON, Canada</li>
          <li><i class="fa fa-phone"></i> (705)-279-1808</li>
          <li><i class="fa fa-envelope"></i> chastainrgm@gmail.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Me</h3>
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>

<%include partials/footer.ejs%>