
<%include partials/header.ejs%>
<div id="splashscreen" onload="splash(5000)">
  <h5 id="welcome">Hey, I'm Chastain.</h5>
</div>
<h1>Welcome to My Portfolio Site</h1>
<h3>I am continuing to work on this site and keep it up to date with all my personal projects. I will also be updating the look and interactivity as I learn more.</h3>
<%include partials/footer.ejs%>
