<%include partials/header.ejs %>
<h4 id="projects">I have projects in severeal different languages, these links will bring you to some of my functional apps,
    as well as github repositories for non hosted projects, Even this site is built by me!
</h4>
<h2 id="projects-title">Recent Projects</h2>
<div class="row">

        <div class="col s4" id="projectTabs">
            <a href="https://drumkit.azurewebsites.net/"
            onMouseOver="M.toast({html: 'An in-browser drumkit made with JavaScript',displayLength:1500})">
            <figure>
            <img src="/images/drumkit.jpg" alt="Javascript Drumkit"></a>
            <figcaption>Javascript Drumkit</figcaption>
            </figure>
        </div>
        <div class="col s4" id="projectTabs">
            <a href='https://github.com/ChastainMarchildon/HotelApp'
            onMouseOver="M.toast({html: 'A buy and sell site for Photo Services',displayLength:1500})">
            <figure>
            <img src="/images/hotel.jpg" alt="Java hotel App"></a>
            <figcaption>A buy and sell site for the photography industry</figcaption>
            </figure>
            </a>
        </div>
        <div class="col s4" id="projectTabs">
            <a href='https://github.com/ChastainMarchildon/HotelApp'
            onMouseOver="M.toast({html: 'A Hotel Browsing App in Java and Java-FX',displayLength:1500})">
            <figure>
            <img src="/images/hotel.jpg" alt="Java hotel App"></a>
            <figcaption>A hotel app made with Java and JavaFX</figcaption>
            </figure>
            </a>
        </div>
        <div class="col s4" id="projectTabs">
            <a href='https://github.com/ChastainMarchildon/TicketSite'
            onMouseOver="M.toast({html: 'A mock Ticket Resale site to demonstrate CRUD functionality',displayLength:1500})">
            <figure>
            <img src="/images/ticket.jpg" alt=".NET Ticket Site"></a>
            <figcaption>A simple CRUD Ticket site made using MVC</figcaption>
            </figure>
            </a>
        </div>
  
      </div>

<%include partials/footer.ejs %>