<%include partials/header.ejs %>
<h3>I have projects in severeal different languages, these links will bring you to some of my functional apps,
    as well as github repositories for non hosted projects.
</h3>
<h2>Current Projects</h2>
<div class="row">

        <div class="col s4">
            <a href="https://drumkit.azurewebsites.net/"
            onMouseOver="M.toast({html: 'An in-browser drumkit made with JavaScript',displayLength:1500})">JavaScript Drumkit App</a>
        </div>
        <div class="col s4">
            <a href='https://github.com/ChastainMarchildon/HotelApp'
            onMouseOver="M.toast({html: 'An Hotel Browsing App in Java and Java-FX',displayLength:1500})">Java Hotel App</a>
        </div>
        <div class="col s4">
            <a href='#'>I'll make something cool for this</a>
        </div>
  
      </div>

<%include partials/footer.ejs %>